* {
  box-sizing: border-box;
}

header {
  padding: 2rem;
}

table, tr, td, th {
  border: 1px solid black;
}

th {
  padding: .25rem;
  text-align: center;
}

td {
  padding: .5rem;
  text-align: center;
}

